name = "ReactionDiffusion"
uuid = "dcda7c7e-49c0-481c-982d-c35bedad83cd"
authors = ["Tom W. Hiscock"]
version = "0.2.0"


[deps]
Catalyst = "479239e8-5488-4da2-87a7-35f2df7eef83"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
DifferentialEquations = "0c46a032-eb83-5123-abaf-570d42b7fbaa"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
StructArrays = "09ab397b-f2b6-538f-b94a-2f83cf4a842a"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"

[compat]
Catalyst = "14"
Combinatorics = "1.0"
DifferentialEquations = "7.12"
JLD2 = "0.4, 0.5"
ModelingToolkit = "8.75, 9"
ProgressMeter = "1.10"
StructArrays = "0.6, 0.7"
Symbolics = "5.18, 6"
RecipesBase = "1.3"
julia = "1.10"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
