name: CompatHelper
on:
  schedule:
    # - cron: 0 0 * * *
    - cron: 0 0 1 1,5,9 * #on 1st Jan, May and September
    # - cron: 0 0 1 * * #monthly
    # - cron: 0 0 0 * * #daily
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
jobs:
  CompatHelper:
    runs-on: ubuntu-latest
    steps:
      - name: Pkg.add("CompatHelper")
        run: julia -e 'using Pkg; Pkg.add("CompatHelper")'
      - name: CompatHelper.main()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMPATHELPER_PRIV: ${{ secrets.DOCUMENTER_KEY }}
        run: julia -e 'using CompatHelper; CompatHelper.main()'
